<% include ../../partials/detailHeader %>
<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2"><strong>Overview</strong></h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <button class="btn btn-sm btn-outline-secondary">Share</button>
        <button class="btn btn-sm btn-outline-secondary">Export</button>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle">
        <span data-feather="calendar"></span>
        This week
      </button>
    </div>
  </div>
  <h3><strong>Library System</strong></h3>
  <div class="card">
    <div class="card-body">
      <strong>Issue Tracking</strong>
      <ul>
        <li>Bug Total: <%= bugTotal %> / Bug Open: <%= bugOpen %></li>
        <li>Feature Total: <%= featureTotal %> / Feature Open: <%= featureOpen %></li>
        <li>Support Total: <%= supportTotal %> / Support Open: <%= supportOpen %></li>
      </ul>
    </div>
  </div>
  <br>
  <div class="card">
    <div class="card-body">
      <strong>Members</strong>

      <ul>
        <% for (i = 0; i < members.length; i++) { %>
        <li><%= members[i].fullname %></li>
        <% } %>
      </ul>
    </div>
  </div>
  </div>
</main>
<% include ../../partials/detailFooter %>